<!DOCTYPE html>
<html lang="en">
<head>
  <title>Layouts are Fun</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>

  <div class="boxes">
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>

    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
    <div class="box">X</div>
  </div>
  
</body>
</html>